div {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: salmon;
  cursor: pointer;
  transition: 2s;
}

.box1:hover {
  /* transform: translate(50px) scale(2) ; */
  width: 200px;
}

.box2:hover {
  transform: translate(50%) skewX(45deg);
}

.box3:hover {
  background-color: aqua;
  border-radius: 50%;
  transform: translateX(300px) rotate(360deg);
}

body {
  perspective: 500px;
}

.box4:hover {
  background-color: yellow;
  transform: translateY(50px) rotateY(360deg) scale(2);
}
